@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body{
    font-family: "Roboto", sans-serif;
}
/* <!-- //////////[start header]\\\\\\\\\\\\\\\ --> */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 16px;
}
.left-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.left-section img {
    width: 135px;
    padding: 16px;
}
.center-section {
    display: flex;
    align-items: center;
}
.center-section form {
    display: flex;
    height:40px ;
    width: 628px;
}
.center-section input {
    width: 100%;
    border-radius: 20px 0 0 20px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #d3d3d3;
    border-right: none;
}
.center-section button {
    width: 46px;
    border: 1px solid #d3d3d3;
    border-radius: 0 20px 20px 0;
    padding-top: 4px;
    background-color: #f8f8f8;
    cursor: pointer;
}
.center-section button:hover {
    border-color: #c6c6c6;
    background-color: #f0f0f0;
}
.center-section .mic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}
.center-section .mic:hover{
    border-color: #c6c6c6;
    background-color: #dfdfdf;
}
.right-section a {
    padding-right: 18px;
    text-decoration: none;
    color: black;
}
/* <!-- //////////[end header]\\\\\\\\\\\\\\\ --> */
/* <!-- //////////[start content]\\\\\\\\\\\\\\\ --> */
.content-area {
    height: calc(100vh - 65px);
    display: flex;
    background-color: #f9f9f9;
}
aside {
    height: 100%;
    width: 280px;
    background-color: white;
    overflow-y: auto;
}
nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    padding-right:15px ;
}
.link-item {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    text-decoration: none;
    color: black;
}
.link-item:hover{
    background-color: #eceaea;
    border-radius: 17px;
}
.link-item span {
    margin-left:24px ;
    font-size: 14px;
    line-height: 2em;
    font-weight: 400;
    color: #030303;
}
.active {
    background-color: #eceaea;
    border-radius: 17px;
}
.active:hover{
    background-color: #d6d4d4;
}
.active span {
    font-weight: 500;
}
hr {
    height: 1px;
    background-color: #e5e5e5;
    border: none;
    margin: 10px 0;
}
nav p {
    font-size: 17px;
    color: black;
    font-weight: 500;
    padding: 8px 16px;
    text-transform: uppercase;
}
.channel-img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}
/* <!-- //////////[end content]\\\\\\\\\\\\\\\ --> */
main {
    width: 100%;
    height: 100%;
    padding: 35px 15px;
    border-top: 1px solid #ddd;
    overflow-y: auto;
}
.videos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.video {
    width: 300px;
    margin-bottom: 40px;
    cursor: pointer;
}
.thumbnail {
    width: 100%;
    height: 187px;
    margin-bottom: 12px;
}
.thumbnail img {
    width: 100%;
    height: 100%;
}
.video-details {
    display: flex;
}
.creator-img img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 12px;
}
.title {
    display: flex;
    flex-direction: column;
}
.title a {
    text-decoration: none;
}
.video-title {
    color: rgb(3, 3, 3);
    font-size: 1.6rem;
    max-width: 278px;
    font-weight: 500;
    line-height: 2.2rem;
    margin-bottom: 4px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.video-creator {
    color: rgb(96, 96,96);
    font-size: 1.1rem;
    line-height: 2rem;
    font-weight: 400;
}
.time {
    color: rgb(96, 96,96);
    font-size: 1.1rem;
    line-height: 2rem;
    font-weight: 400;
}
.video-creator:hover{
    color: black;
}